.ordersBackground {
    border-radius: 10px 10px;
    padding-bottom: 60%;
    padding-right: 80%;
    height: auto;
    width: 50px;
    margin-left:auto;
    margin-right: auto;
    background-color: #FFFFFF;
    
  }

  .ordersPageContainer {
    padding-top: 3%;
    padding-left: 5%;
  }

  .ordersContainer {
    margin-left: auto;
    
  }

  .ordersPageHeader {
    font-size: 50px;
    font-weight: 375;
    text-align: center;
  }

  .orderLine-1 {
    
    margin-bottom: 15px;
    height: 2px;
    background: black;
    opacity: 0.15;
  }

  .orderHeaders {
    font-weight: 600;
    font-size: 30px;
  }

  .loginPageContainer {
    padding-top: 7%;
    padding-left: 5%;
  }

  .signUpPageContainer {
    padding-top: 4%;
    padding-left: 5%;
  }