table {
    font-family: arial, sans-serif;
    font-size: 18px;
    border-collapse: collapse;
    width: 95%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .ordersBackground {
    border-radius: 10px 10px;
    padding-bottom: 60%;
    padding-right: 80%;
    height: auto;
    width: 50px;
    margin-left:auto;
    margin-right: auto;
    background-color: #FFFFFF;
    
  }

  .ordersPageContainer {
    padding-top: 3%;
    padding-left: 5%;
  }

  .ordersContainer {
    margin-left: auto;
    
  }

  .ordersPageHeader {
    font-size: 50px;
    font-weight: 375;
  }

  .orderLine-1 {
    
    margin-bottom: 15px;
    height: 2px;
    width: 95%;
    background: black;
    opacity: 0.15;
  }

  .orderHeaders {
    font-weight: 600;
    font-size: 30px;
  }

  .orderCardsContainer {
    
  }